<!DOCTYPE html>
<html>
    <head>
        <title>Bank Demo</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="keywords" content="Banking, Beginner, Practice">
        <meta name="description" content="demo banking website"> <!--description of website-->
        <meta name="author" content="Marcus Haigler"> <!--metadata for the author-->
        <!-- <meta http-equiv="refresh" content="30"> refreshes the page every 30 seconds-->
        <meta name="viewport" content="width=device-width, intial-scale=1.0"> <!--gives the browser instructions on how to control pages dimensions and scaling-->
        <meta href="http://127.0.0.1:5500/bank%20website%20stuff/login_screen.html" target="blank">
    </head>
    <body>
        <div id="title">
            <h1>Bank Demo</h1>
        </div>
        <div id="login-info">
            <h3>Login</h3>
            <form action="/action_page.php"> <!--Placeholder for backend code-->
                <label for="uname">username:</label><br>
                <input type="text" id="uname" name="uname" required><br>
                <label for="pword">password</label><br>
                <input type="password" id="pword" name="pword" required>
                <br><br>
                <input type="submit" value="submit" id="submit-button">
            </form>
        </div>
        <div id="options">
            <a href="forgot_password_screen/forgot_password_screen.html">
                <button id="fpassword">forgot password</button>
            </a>
            <a href="new user page/new_user_page.html">
                <button id="new-user">new user</button>
            </a>
        </div>
    </body>
</html>
